section#head {
	background-color: #5A9089;
	color: white;
	font-family: Verdana;
	text-align: center;
	height: 100px;
}

section#left {
	background-color: #BAD2CF;
	width: 55%;
	height: 600px;
	float: left;
}

section#right {
	background-color: #88AFAA;
	width: 45%;
	height: 600px;
	float: left;
}

section#footer {
	background-color: #5A9089;
	color: white;
	text-align: right;
}

table, td {
	border: 1px dotted green;
	width: 400px;
	margin: 25px;
	text-align: center;
}

img {
	padding: 25px;
}

li {
	list-style-type:circle;
}




















